{
  "presets" : [
      "es2015",
      [
        "env", {
          "targets": {
            "browsers": ["last 2 versions"]
          },
          "modules": false
        }
      ],
      "stage-0",
      "react"
  ],
  "plugins": ["transform-class-properties", ["import", { "libraryName": "antd", "style": true }]]
}
