data
data/*
src/blockchain/build
src/blockchain/build/*
src/blockchain/test
src/blockchain/test/*
src/blockchain/node_modules
src/blockchain/node_modules/*
src/frontend/node_modules
src/frontend/node_modules/*
src/frontend/build
src/frontend/build/*
