src/blockchain/build
src/blockchain/build/*
src/blockchain/typechain
src/blockchain/typechain/*
src/blockchain/test
src/blockchain/test/*
src/blockchain/node_modules
src/blockchain/node_modules/*

src/app/config/typechain
src/app/config/typechain/*

.awcache
*.log
data
data/*
node_modules
node_modules/*
build
build/*
