@value buttonPrimaryColor, buttonPrimaryBackgroundColor, buttonPrimaryDisabledBackgroundColor, linkPrimaryColour from "./variables.css";

.buttonPrimary {
  color: buttonPrimaryColor !important;
  background-color: buttonPrimaryBackgroundColor !important;

  &.flat {
   background-color: buttonPrimaryDisabledBackgroundColor !important;
 }
}

.linkPrimary {
  color: linkPrimaryColour !important;
}

.tooltip {
}
